#app {
  margin: 20px;
}

#table {
  display: block;
  max-height: 40px;
}

.row {
  max-height: 40px;
  /* padding: 10px; */
}

.logo {
  max-height: 35px;
}

.logotext {
  font-family: Circular, -apple-system, system-ui, Roboto, "Helvetica Neue", sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #E95B62
}